@import "../theme";
.gameRoom{
  .gameRoomContainer {
    display: flex;
    //justify-content: space-between; // Arrange sections in a flex container with space between
    margin-top: 0em;
    padding: 2em; // Add padding for spacing
    align-items: center;
    flex-direction: column;


    //background-image: url('../../assets/background4.png');
    //background-size: contain;
    //background-position: center;
    //display: flex;
    //margin-top: 0em;
    //text-align: center;
    //padding: 20px;
    //position: relative;

    //flex-direction: column;
    //align-items: center; // center horizontally
    //justify-content: center; // center vertically
  }
  .image{
    display: flex;
    flex-direction: column;
    align-items: center; // center horizontally
    justify-content: center; // center vertically

    .blurred {
      filter: blur(10px); //can adjust this for more blur
    }

    .gameRoomImage {
      margin-top: 3em;
      margin-bottom: 3em;
      width: auto;
      height: 400px;
      background-color: rgba(61, 160, 239, 0.8);
      padding: 10px;
      border-radius: 5px;
    }

    .sliderWrapper {
      width: 100%;
      max-width: 600px;
      display: flex;
      background-color: rgba(238, 238, 241, 0.8);
      //border: 2px solid rgb(69, 69, 103);
      border-radius: 5px;
      cursor: pointer;
    }

    .rangeInput{
      width: 100%;
      max-width: 600px;
      background-color: rgb(69, 69, 103);
      cursor: pointer;

      .minValue, .maxValue {
        position: absolute;
        bottom: 0; //sliderWrapper bottom
      }

      .minValue {
        left: -30px;
      }

      .maxValue {
        right: -70px;
      }
    }


    .buttonsContainer1 {
      position: absolute;
      margin-right: -1000px;
      top: 110%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      gap: -10px; // between button
    }
    .text{
      margin-bottom: 0.5em;
      font-size: 16px;
      color: rgb(36, 36, 150);
    }
  }

  .tool{
    &.display {
      //position: absolute;
      margin-bottom: -6em;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      background-color: rgba(255, 255, 255, 0.5);
      //padding: 10px;
      border-radius: 10px;
      display: flex;
      align-items: center; /* Align items vertically centered */
      justify-content: flex-start; /* Align items to the left */
    }

    &.tool-label {
      font-size: 24px;
      font-weight: bold;
      //margin-bottom: 20px;
      margin-right:0.8em;
      color: rgb(36, 36, 150);
    }

    &.container {
      font-size:12px;
      display: flex;
      align-items: center; /* Align items vertically centered */
      justify-content: flex-start; /* Align items to the left */
    }

    &.item{
      width: 80px;
      height: 80px;
      margin-right: 1em; /* Add margin between tool items */
      border: none;
      border-radius: 10px;
      //background-color: rgba(255, 255, 0, 0);
    }

    &.hint{
      background-image: url('../../assets/hint.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.bomb{
      background-image: url('../../assets/bomb.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.defense{
      background-image: url('../../assets/defense.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.bonus{
      background-image: url('../../assets/bonus.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.gamble{
      background-image: url('../../assets/gamble.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.default {
      background-color: rgb(69, 69, 103);
    }
  }

  .score{
    .pointsContainer {
      //position: absolute;
      //left: 10px;
      top: 90%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      gap: -1px; // between button;
    }
    .score-table {
      position: absolute;
      //left: 4em;
      top: 70%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
    }
    .score-label{
      position: absolute;
      margin-left: -3em;
      top: 50px;
      text-align: center;
      color: rgb(36, 36, 150);
      font-size: 20px;
    }

    .gameRoom-point {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
      max-width: 30em;
      margin-left: -40em;
      //margin-bottom: 10em;
      height: 15em;
      font-size: 20px;
      font-weight: 300;
      //padding-left: 10em;
      //padding-right: 37px;
      border-radius: 0.75em;
      transition: opacity 0.5s ease, transform 0.5s ease;
    }
  }
}

