@import "../theme";

.gameRoomContainer {
  text-align: center;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; // center horizontally
  justify-content: center; // center vertically
}

.gameRoomImage {
  max-width: 50%;
  height: auto;
}

.sliderWrapper {
  margin: 20px 0;
  width: 80%;
  max-width: 600px;
}

.rangeInput {
  width: 80%;
  max-width: 600px;
}

.buttonsContainer {
  position: absolute;
  right: 10px;
  top: 100%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: -10px; // between button
}
