@import '../theme';


.text {
  color: black;
  text-align: left;
  margin-bottom: 2em;
  font-size: 1.5em;
  position: fixed;
  left: 50%;
  font-family: "Microsoft YaHei";
  transform: translateX(-50%);
}







