@import "../theme";

.loading {
  color: #000080;
  text-align: center;
  font-size: 3em;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
}
.buttonsContainer {
  position: absolute;
  margin-right: 45%;
  top: 60%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: -10px; // between button
}
.text{
  font-size: 16px;
  color: rgb(36, 36, 150);
}
.label{
  position: absolute;
  top: 50px;
  text-align: center;
  color: rgb(36, 36, 150);
  font-size: 20px;
}