@import "../theme";

.rank {
  &.container {
    background-image: url('../../assets/Window.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5em;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include center;
  }
  &.user-list {
    margin-top: 1em;
    list-style: none;
    //padding-left: 0;
    display: flex;
    margin-bottom: 20em;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
}
