@import "../theme";

.background-container {
  background-image: url('../../assets/background2.png');
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.creation {
  &.creation-container {
    background-image: url('../../assets/window_create.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5em;
    min-height: 600px;
    /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
    @include center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &.creation-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    //max-width: 10em;
    height: 20em;
    font-size: 20px;
    font-weight: 300;
    //padding-left: 80px;
    //padding-right: 37px;
    border-radius: 0.75em;
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin-top: 40px;
    //margin-left: 200px;
  }
  &.creation-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 12em;
    margin-top: 25px;
  }
  &.creation-input {
    height: 35px;
    //padding-left: 15px;
    margin-left: -4px;
    //border: none;
    //border-radius: 0.75em;
    padding: 10px;
    //border: 1px solid #ccc;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.5);

  }
  &.creation-label {
    margin-top: 18.1em;
    color: $textColor;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }
}

.dropdown {
  //background: #97ABFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //width:50%;


.dropdown-title {
  align-self: flex-start;
  margin-bottom: -10px;
  color: #FFFFFF;
}
.selected-option {
  color: #FFFFFF;
  //margin-left: 10px;
  width: 200px;
  height: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  //margin-bottom: 10px;
  display: flex; //for putting text in center
  align-items: center;
  justify-content: center;
}
.button-dropdown {
  background-image: url('../../assets/Play_BTN.png');
  background-size: auto;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  align-self: flex-start;
  margin-bottom: 20px;
  margin-top:20px;
}

.menu-container {
  position: absolute;
  left: 50px;
  top: 60px;
  background-color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #ccc;
}

.menu-container button {
  background: transparentize(white, 0.85);
  margin: 5px 0;
  cursor: pointer;
  color: #FFFFFF;
  border: none;
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}}

.button-ok{
  background-image: url('../../assets/Ok_BTN 1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  background-color: #123597;
  //margin-left:50px;
  margin-right: 40px;
  margin-top: 30px;
  &:hover {
    transform: translateY(-2px);
  }
  cursor: pointer;
}
.button-cancel{
  background-image: url('../../assets/Close_BTN 1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  background-color: #123597;
  &:hover {
    transform: translateY(-2px);
  }
  cursor: pointer;
}

