// WaitingAnswer.scss 文件

@import "../theme";

#wrap {
  width: 400px;
  height: 200px;
  background: #fafafa;
  box-shadow: 5px 5px 5px #C9C9C9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.txt {
  max-height: 100px;
  padding-top: 30px;
  text-align: center;
  line-height: 150px;
}

.tip {
  position: absolute;
  bottom: 0;
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 6px 0;
  width: 100%;
}

#time {
  color: red;
}
