// WaitingAnswer.scss

@import "../theme";
.background-container {
  background-image: url('../../assets/background2.png');
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#wrap {
  width: 400px;
  height: 300px;
  background: url('../../assets/Table.png');
  padding: 1px;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-clip: content-box;
  box-sizing: content-box;
  border: 10px solid #a3cac9;
}

.txt {
  max-height: 100px;
  padding-top: 30px;
  text-align: center;
  line-height: 150px;
}

.tip {
  position: relative;
  bottom: 0;
  text-align: center;
  border-top: 1px solid #ccc;
  padding: 6px 0;
  width: 100%;
}

#time {
  color: red;
}
